<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Changes -->
      <package
            uri="http://nmf.codeplex.com/changes"
            class="Changes.ChangesPackage"
            genModel="model/Changes.genmodel"/>
   </extension>

</plugin>
