<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="rgse.ttc17.emoflon.tgg.task2.Task2Package" genModel="model/Task2.genmodel" uri="platform:/plugin/rgse.ttc17.emoflon.tgg.task2/model/Task2.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="rgse.ttc17.emoflon.tgg.task2.Rules.RulesPackage" genModel="model/Task2.genmodel" uri="platform:/plugin/rgse.ttc17.emoflon.tgg.task2/model/Task2.ecore#//Rules"/>
  </extension>
</plugin>
